<section>
    <div>
        <h1>OUR MENU</h1>  
    </div>
    <div class="menu-list-container">
        <div class="menu-container">
                <img src="./../../../assets/img/R1.png" alt="">
            <div>
                <h3>Tonkatsu Ramen</h3>
            <div class="price-flex">
                <p>CHICKEN</p>
                <p>11.95€</p>
            </div>
            <div class="price-flex">
                <p>BEEF</p>
                <p>12.95€</p>
            </div>
            <div class="price-flex">
                <p>SHRIMP</p>
                <p>13.95€</p>
            </div>
        </div>
        </div>
        <div class="menu-container">  
            <div>
                <h3>Spicy Miso Ramen</h3>
            <div class="price-flex">
                <p>CHICKEN</p>
                <p>11.95€</p>
            </div>
            <div class="price-flex">
                <p>BEEF</p>
                <p>12.95€</p>
            </div>
            <div class="price-flex">
                <p>SHRIMP</p>
                <p>13.95€</p>
            </div>
        </div>
            <img src="./../../../assets/img/R2.png" alt="">
        </div>
        <div class="menu-container">
            <img src="./../../../assets/img/R3.png" alt="">
            <div>
                <h3>Shio Ramen</h3>
            <div class="price-flex">
                <p>CHICKEN</p>
                <p>11.95€</p>
            </div>
            <div class="price-flex">
                <p>BEEF</p>
                <p>12.95€</p>
            </div>
            <div class="price-flex">
                <p>SHRIMP</p>
                <p>13.95€</p>
            </div>
        </div>
        </div>
    </div>
    <div></div>
    <div></div>
</section>
