<section>
    <div>
        <h1>HOW TO ORDER</h1>
    </div>

    <div class="how-to-order-section">
        <div class="order-menu">
            <img src="./assets/img/noodle.png" alt="">
            <span>Pick <br> Your Noodle</span>
        </div>
        <div class="order-menu">
            <img src="./assets/img/broth.png" alt="">
            <span>Pick <br> Your Broth</span>
        </div>
        <div class="order-menu">
            <img src="./assets/img/egg.png" alt="">
            <span>Add Your <br> Toppings</span>
        </div>
    </div>
</section>
